
= devise_error_messages!
.row
  .large-6.large-centered.columns{style: "padding-top: 50px;"}
    %h1 Change your password
    %h4{style: "padding-bottom: 30px;"} 
  .row
    .large-6.large-centered.columns
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.hidden_field :reset_password_token
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fi-lock{style: "font-size: 2em;"}
          .small-10.columns
            = f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "New password", :required => true
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fi-lock{style: "font-size: 2em;"}
          .small-10.columns
            = f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm new password", :required => true
        .row.collapse
          .small-10.small-offset-2.columns
            = f.submit "Change my password", :class => "button"
          %br
        = render "devise/shared/links"