.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding-top:30px; font-weight: bold; line-height:1em;"}
      Results in #{@result.full_address}
    %br
.row
  .large-10.large-offset-2.columns
    %dl.tabs{"data-tab" => ""}
      - @result.sources.each.with_index do |source, index|
        %dd{:class => "#{"active" if index == 0}"}
          %a{:href => "##{@result.url_encode_for(source.name)}"}= source.name         
.row
  .large-10.large-offset-1.columns      
    .tabs-content
      - @result.sources.each.with_index do |source, index|
        .content{:class => "#{"active" if index == 0}", :id => "#{@result.url_encode_for(source.name)}"}
          .row{style: "padding-top:30px;"}
            .large-8.large-offset-2.columns
              - source.providers.located_within(@result.bounds).each do |provider|
                %a{:href => "#{provider.website}", target:"_blank"}
                  %h2= provider.name
                %dl.accordion{"data-accordion" => ""}
                  %dd.accordion-navigation
                    - provider.categories.with_providers_within(@result.bounds).each do |category|
                      %a{:href => "##{@result.url_encode_for(provider.name)+'_'+@result.url_encode_for(category.name)}"} 
                        =category.name
                        .content{:id => "#{@result.url_encode_for(provider.name)+'_'+@result.url_encode_for(category.name)}"} 
                          -category.items.with_provider_within(@result.bounds).each do |item|
                            - if item.provider == provider
                              .row
                                .small-9.large-9.columns 
                                  %a{href: "#{item.link}", target:"_blank"}= item.name
                                  - if not (item.tooltip.nil? || item.tooltip.empty?)
                                    %span.has-tip{ "aria-haspopup" => "true", "data-tooltip" => "", :title => "#{item.tooltip}", style: "margin-left: 10px"} ?
                                .small-3.large-3.columns 
                                  - if not (item.cooking_link.nil? || item.cooking_link.empty?)
                                    %a{href: "#{item.cooking_link}", target:"_blank"} How to cook
                  %dd.accordion-navigation
                    %a{:href => "##{@result.url_encode_for(provider.name)}_favorites"} 
                      Your favorites
                    .content{:id => "#{@result.url_encode_for(provider.name)}_favorites"} 
                      %p 
                        Nothing here yet. 
                        .row
                          - if user_signed_in?
                            .small-6.columns
                              %a{href: "#"} Add favorites &raquo
                            .small-6.columns
                              %a{href: "#"} Email list &raquo
                          - else 
                            .small-6.columns
                              %p Already got an account?
                              %a= link_to "Sign in »", new_user_session_path 
                            .small-6.columns
                              %p 
                                %br
                              %a= link_to "Sign up »", new_user_registration_path
              %br
              %p= source.description
              %p= link_to "Suggest new items »", new_suggestion_path(current_user.id) if user_signed_in?