= devise_error_messages!
.row
  .large-6.large-centered.columns{style: "padding-top: 50px;"}
    %h1 Sign in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .row.collapse
        .small-2.columns
          %span.prefix
            %i.fi-mail{style: "font-size: 2em;"}
        .small-10.columns
          = f.email_field :email, autofocus: true, :placeholder => "Email", :required => true
      .row.collapse
        .small-2.columns
          %span.prefix
            %i.fi-lock{style: "font-size: 2em;"}
        .small-10.columns
          = f.password_field :password, autocomplete: "off", :placeholder => "Password"
      - if devise_mapping.rememberable?
        .row.collapse
          .small-8.small-centered.columns
            = f.check_box :remember_me
            = f.label :remember_me
        .row.collapse
          .small-8.small-offset-4.columns
            = f.submit "Sign in", :class => "button"
      = render "devise/shared/links"
