!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "description", content: "Find out how Emplary can help you live a healthy life worth living."}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = favicon_link_tag 'favicon.ico'
    %title="Emplary"
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    = render "layouts/google"

  %body
    = render "layouts/topbar"
    = render "layouts/flash"
    = yield
    = render "layouts/footer"
    = javascript_include_tag "application"
